@media only screen and (min-width: 800px) {
    .large-view-mainContainer{
        display: block;
        display:grid;
        grid-template-columns: 40% 60%;
    }

  

    .lare_view_grid-2{
        margin-right: 2.5em;
        margin-left:0;
    }

    .lare_view_grid-2 img{
        display: block;
       width: 100%;
    }


    /*Forms*/
    .form-request-style{
        width: 60%;
        display: grid !important;
        grid-template-columns: 1fr 1fr !important;
    }

    .form-request-style input{
        margin: 1em auto !important ;
        width: 80% !important;
    }

    .form-request-style label:last-child{
        grid-column: span 2;
        display: flex !important;
        justify-content: center !important;
    }

    .form-request-style label[for = request-drescription]{
        grid-column: span 2;
    }

    .form-request-style textarea{
        width: 70%;
    }

    /*check box */
    #rr-agree{
        height: 25px;
        display: block;
        position: relative;
        display: block;
        margin: 1.5em auto;
    }


    /*------------------ MODAL--------------------*/

    .modal{
       width: 60%;
    }

    #submit_request{
        display: block;
        cursor: pointer;
    }

     #make_call{
         display: none;
     }

 /*------------------ MODAL--------------------*/

     .submited_page img{
         display: block;
         width: 50%;
         margin: 0 auto;
     }

  }



     

