@media only screen and (min-width: 800px) {
    .large-view-mainContainer{
        display: block;
        display:grid;
        grid-template-columns: 40% 60%;
    }

  

    .lare_view_grid-2{
        margin-right: 2.5em;
        margin-left:0;
        /*background-image: url(../img/background-welcome-page.png);
        background-repeat: no-repeat;
        background-position:center;
        background-size: 100%;
        */
    }

    .lare_view_grid-2 img{
        display: block;
       width: 100%;
    }


    /*Forms*/
    #billing-informaiton{
        width: 60%;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #billing-informaiton input{
        margin: 1em auto ;
        width: 80%;
    }

    #billing-informaiton label:last-child{
        grid-column: span 2;
        display: flex;
        justify-content: center;
    }



    /*------------------ MODAL--------------------*/

    .modal{
       width: 60%;
    }

    #submit_request{
        display: block;
    }

     #make_call{
         display: none;
     }

  }