/*
font-family: 'Josefin Slab', serif;
font-family: 'Questrial', sans-serif;
font-family: 'Quicksand', sans-serif;
*/

/*--------------------Demo Smart Call center----------------------*/
body{
padding:3.5em 1em;
font-size: 16px;
}

.body-backgorund{
background:url(../img/adidas-background.jpg) no-repeat fixed center;
background-size: cover;
}

.sub-text{
margin: 10px auto;    
text-align: center;
padding: 0;
font-family: 'Quicksand', sans-serif;
width: 70%;
font-size: 1.2em;
}

/*---------------- SECTIONS------------------*/

.container-center{
    margin: 0 auto; 
    width: 85%;
    height: 20em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-center img{
height: 160px;
}


.options-select{
 margin: 0 auto;
 width: 85%;
 text-align: center;
 display: flex;
 flex-direction: column;
 align-items: center;
 height: 30em;
 padding: 2em 1em;
}

.policies{
    margin: 1.5em 1em;
    height: 300px;
    border: solid 2px black;
    padding: 1em;
    background-color: #EFEFEF;
    overflow: scroll;
}

.policies p{
    position: relative;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: large; 
}
/*---------------- HEADINGS------------------*/


h1{
    font-family: 'Questrial', sans-serif; 
    text-align: center;
    position: relative;
    margin: 0;
    }

.customer-information{
font-weight: 300;
font-size: 1.6em;
}

.welcome-to-adidas-services{
font-size: 1.7em;
font-weight: 10;
}

.welcome-to-adidas-services #bold{
    font-weight: 1000;
}

.change-my-order{
    font-size: 1.7em;
    font-weight: 10;
}

.returns-refund-policies{
    font-size: 1.7em;
    font-weight: 200;
}


/*----------------SUB HEADINGS--------------------*/

P{
position: relative;
}

/*---------------- BUTTONS------------------*/ 

.btn-continue{
display: block;
margin: 0 auto;
outline: none;
border: none;
color: white;
background-color: black;
padding: 0.8em 2em ;
font-family: 'Quicksand', sans-serif;
font-weight: 700;
font-size: 1.1em;
}
 
.btn-continue-link{
text-decoration: none;
}

.btn-option{
    color: white;
    padding:1em ;
    background-color: black;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
}

.btn-option-link{
    margin:0;
    padding:0;
    width: 80%;
    margin:auto;
    margin-bottom: 2.5em;
    text-decoration: none;
}
/*----------------logoS--------------------*/

.small-logo{
    height: 50px;
    margin: 0  auto 3em;
    display: block;
}

.container-center .logo-index_demo{
    height: 160px;
}

/*---------------- FORM------------------*/ 

.non_display_error_alert{
  display: none;
}

.display_error-alert{
    height:1em;
    padding:0.5em;
    margin: 0.8em -1em;
    width:60%;
    background-color: rgb(233, 34, 34);
    color: white;
    font-family: 'Quicksand', sans-serif; 
    display: flex;
    align-items: center;
}

form{
    margin-top: 30px;
    background-color: #DDDDDD;
    padding: 1.5em 1.2em;
    border-radius: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*validation form*/
.form_inputerror{
    
    color:red;
    outline: red;
    border: solid 1px red;
}

.form_inputValid{
    
    outline: rgb(9, 109, 240);
    border: solid 1px rgb(9, 109, 240);
    color: black;
}

#orderNumber{
    margin: 0;
}

input{
    margin-bottom:1em;
    border-radius: 10px;
    display: block;
    outline: none;
    border: solid 1px black;
    padding: 1em 1.4em ;
    font-family: 'Quicksand', sans-serif;
    font-size: 12px;
    width: 270px;
}

form #submit-btn{
    margin-top:40px; 
}

.animation{
    animation-name: appear;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
}

@keyframes appear{
0%{bottom:-50px; opacity: 0;}
100%{bottom:1px; opacity:1;}    
}


/*---------------- Checkbox------------------*/ 

i{display: inline;}

label[for="rr-agree"]{
margin: 1em;
font-family: 'Quicksand', sans-serif;
font-size: 1.4em;
font-weight: 500;
text-align: center;
}

.center{ 
width:100%;
/*background-color: green;*/ 
display: flex;
justify-content: center;
margin-bottom:3em;

}
input[type="checkbox"]{ 
 height: 30px;
 margin:0;
 padding:0;
}