/*
font-family: 'Josefin Slab', serif;
font-family: 'Questrial', sans-serif;
font-family: 'Quicksand', sans-serif;
*/

/*--------------------Demo Smart Call center----------------------*/
body{
padding:3.5em 1em;
font-size: 16px;
}

.body-backgorund{
background:url(../img/adidas-background.jpg) no-repeat fixed center;
background-size: cover;
}

.sub-text{
margin: 10px auto 30px;    
text-align: center;
padding: 0;
font-family: 'Quicksand', sans-serif;
width: 70%;
font-size: 1.2em;
}

/*---------------- SECTIONS------------------*/


.large-view-mainContainer{
    display:grid;
}


.container-center{
    margin: 0 auto; 
    width: 85%;
    height: 20em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-center img{
height: 160px;
}


.lare_view_grid-2 img{
    display: none;
 }


.options-select{
 margin: 0 auto;
 width: 85%;
 text-align: center;
 display: flex;
 flex-direction: column;
 align-items: center;
 height: 30em;
 padding: 2em 1em;
}

.policies{
    margin: 1.5em 1em;
    height: 300px;
    border: solid 2px black;
    padding: 1em;
    background-color: #EFEFEF;
    overflow: scroll;
}

.policies p{
    position: relative;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: large; 
}
/*---------------- HEADINGS------------------*/


h1{
    font-family: 'Questrial', sans-serif; 
    text-align: center;
    position: relative;
    margin: 0;
    }

h2{
    font-family: 'Questrial', sans-serif; 
    text-align: center;
}

.headings-general{
    font-size: 1.6em;
    font-weight: 300;
}

.customer-information{
font-weight: 300;
font-size: 1.6em;
}

.welcome-to-adidas-services{
font-size: 1.7em;
font-weight: 10;
}

.welcome-to-adidas-services #bold{
    font-weight: 1000;
}

.change-my-order{
    font-size: 1.7em;
    font-weight: 10;
}

.returns-refund-policies{
    font-size: 1.7em;
    font-weight: 200;
}

.billing-information{
    font-size: 1.6em;
    font-weight: 300;
    margin-bottom: 2em;
}

.request-a-refund{
    margin-bottom: 2em;
}


/*----------------SUB HEADINGS--------------------*/

P{
position: relative;
}

/*----------------Text--------------------*/

p{
font-family: 'Quicksand', sans-serif; ;  
}

/*---------------- BUTTONS------------------*/ 
a{
    text-decoration: none;
}

.btn-continue{
display: block;
margin: 0 auto;
outline: none;
border: none;
color: white;
background-color: black;
padding: 0.8em 2em ;
font-family: 'Quicksand', sans-serif;
font-weight: 700;
font-size: 1.1em;
}
 
.btn-continue-link{
text-decoration: none;
}

.btn-option{
    color: white;
    padding:1em ;
    background-color: black;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
}

.btn-option-link{
    margin:0;
    padding:0;
    width: 80%;
    margin:auto;
    margin-bottom: 2.5em;
    text-decoration: none;
}
/*----------------logos--------------------*/

.small-logo{
    height: 50px;
    margin: 0 auto 2em;
    display: block;
}

.container-center .logo-index_demo{
    height: 160px;
}

/*------------FORMS----------------*/

form{
    margin-top: 6em;
    background-color: #DDDDDD;
    padding: 1.5em 1.2em;
    border-radius: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


#orderNumber{
    margin: 0;
}

input{
    margin-bottom:1em;
    border-radius: 10px;
    display: block;
    outline: none;
    border: solid 1px black;
    padding: 1em 1.4em ;
    font-family: 'Quicksand', sans-serif;
    font-size: 12px;
    width: 270px;
}

@media screen and (max-width: 360px ){
    
    input{
        margin-bottom:1em;
        border-radius: 10px;
        display: block;
        outline: none;
        border: solid 1px black;
        padding: 1em 1.4em ;
        font-family: 'Quicksand', sans-serif;
        font-size: 12px;
        width: 200px;
    }
}

form #submit-btn{
    margin-top:40px; 
    cursor: pointer;
}

/*----Select---*/

#sizeOption{

    display: block;
    padding: 10px 20px;
    margin: 1em auto;
    outline: none;
    border: 1px black solid;
    text-align: center;
    font-family:'Quicksand', sans-serif;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-weight: 700;
    cursor: pointer;

}

#sizeOption option:hover{
background-color: rgb(35, 151, 245);
}

#change-size{ /* aling text in the change size form*/
text-align: center;
}

.form-request-style textarea{
    width: 90%;
    height: 100px;
}

.animation{
    animation-name: appear;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
}

@keyframes appear{
0%{bottom:-50px; opacity: 0;}
100%{bottom:1px; opacity:1;}    
}


/*---------------- Checkbox------------------*/ 
.agree-retruns-refund-policies-check{
    font-family: 'Quicksand', sans-serif;
    font-size: 1.1em;
    font-weight: 500;
    text-align: center;
}


#rr-agree{
    height: 25px;
    display: block;
    position: relative;
    display: block;
    margin: 1.5em auto;
}


/*---------------- modal window------------------*/ 

.container_modal{
    visibility: hidden;
    position: fixed;
    width: 100%;
    height:100vh;
    background-color: rgba(0, 0, 0, 0.541);
    top: 0;
    left: 0;
}

    
.modal{
    width: 80%;
    height: 70%;
    background-color:white;
    overflow: hidden;
    margin: auto;
    padding: 1em;
    position: relative;
    text-align: center;
    border-radius: 0 0 20px 20px;
    font-family: 'Quicksand', sans-serif;
}


.modal h2{
    margin-top: 1em;
    font-family:'Questrial', sans-serif;
}

.modal button{
margin-top: 10%;
}
.modal-close{
    transform: translateY(-200%)
}

/* centar the conttent in the modal window */

.modal p{
    font-size: 15px;
    font-weight: 700;
}

.modal p span{
    font-weight: 400;
}

#submit_request{
    display: none;
}