/*

font-family: 'Indie Flower', cursive;
font-family: 'Raleway', sans-serif;

*/


/**************** LAYOUT APP **************** 
****************             *************** */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 95%;
    height: 250px;
    background:url(../img/city.jpg);
    font-family: 'Raleway', sans-serif;
    color: white;
    position: relative;
    border-radius: 12px 12px 0 0;
    margin: 10px auto;
}

h1{
   text-align: center;
   padding-top: 0.3em;
   text-shadow: 3px 2px 3px black;
   font-size: 2.3em;
}

form{ 
    width: 100%;
    padding: 0.7em;
    border-top: solid 2px gray;
    position: fixed;
    bottom: 0%;
    display: flex;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

/* input text */
input{
font-size: 23px;    
width: 98%;
padding: 0.3em;
border: 1px solid rgb(163, 163, 163);
border-radius: 20px;
}

input:focus{
  outline: none;
}

/* button to add new task  */
form button{
    border: none;
    font-size: 35px;
    cursor: pointer;
    margin: 0%;
    background-color:white ;
    color: rgba(85, 85, 85, 0.966);
}

/**************** FILTER STYLES **************** 
****************               *************** */

select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    color: white;
    border-radius: 10px 10px 0px;
    font-size: 1.2em;
    padding: 10px;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: rgba(85, 85, 85, 0.966);
}

select:focus{
    background-color: rgba(85, 85, 85, 0.5);
    box-shadow: black;
    outline: none;
}



/**************** ITEMS STYLES **************** 
****************               *************** */

.list_Container{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Indie Flower', cursive;
}

.todo_list{
    width: 95%;
    list-style: none;
}

/* itmen block style */
.todo{
    border-bottom: 1px solid gray;
    color: black;
    font-size: 1.5rem;
    display:flex;
    margin: 0.5em 0;
    position: relative;
    
}

.complete-btn, .delete-btn{
    color:rgb(21, 199, 30);
    border: none;
    background-color: rgba(21, 199, 30, 0);
    font-size: 28px;
    margin-right: 12px;
    margin-bottom: 8px;
}

.complete-btn{
    margin-left: 10px;
}

.delete-btn{
    color:rgb(245, 35, 35);
    margin-left: 8px;
    position: absolute;
    right: 0;
}

.fa-check-circle, .fa-trash{
    pointer-events: none;
}

.completed{
    text-decoration:line-through;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier();
    background-color: rgb(82, 221, 89);
}

/* animation*/
